<h3>Jobs</h3>

<p *ngFor="let jobResults of jobResults">
  {{ jobResults.jobtitle }}<br />
  {{ jobResults.company }}<br />
  {{ jobResults.city }}<br />
  {{ jobResults.state }}<br />
  {{ jobResults.country }}<br />
  {{ jobResults.language }}<br />
  {{ jobResults.formattedLocation }}<br />
  {{ jobResults.source }}<br />
  {{ jobResults.date }}<br />
  {{ jobResults.snippet }}<br />
  {{ jobResults.url }}<br />
  {{ jobResults.onmousedown }}<br />
  {{ jobResults.latitude }}<br />
  {{ jobResults.longitude }}<br />
  {{ jobResults.jobkey }}<br />
  {{ jobResults.sponsored }}<br />
  {{ jobResults.expired }}<br />
  {{ jobResults.indeedApply }}<br />
  {{ jobResults.formattedLocationFull }}<br />
  {{ jobResults.formattedRelativeTime }}<br />
  {{ jobResults.stations }}<br />
</p>
