<h3>Jobs</h3>

<p *ngFor="let job of jobResults.jobResults">
  {{ job.jobtitle }}<br />
  {{ job.company }}<br />
  {{ job.city }}<br />
  {{ job.state }}<br />
  {{ job.country }}<br />
  {{ job.language }}<br />
  {{ job.formattedLocation }}<br />
  {{ job.source }}<br />
  {{ job.date }}<br />
  {{ job.snippet }}<br />
  {{ job.url }}<br />
  {{ job.onmousedown }}<br />
  {{ job.latitude }}<br />
  {{ job.longitude }}<br />
  {{ job.jobkey }}<br />
  {{ job.sponsored }}<br />
  {{ job.expired }}<br />
  {{ job.indeedApply }}<br />
  {{ job.formattedLocationFull }}<br />
  {{ job.formattedRelativeTime }}<br />
  {{ job.stations }}<br />
</p>
